.scrollable {
    height: 100vh;
    /*position: fixed;*/
    overflow-y: scroll;
}

.menu-item {
    font-size: 24px;
    padding: 15px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.canton {
    fill: steelblue;
    stroke: white;
}

.navigation-item {
}

.navigation-item.active {
    background-color: #d9d9d9;
}

.bg-pattern {
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), rgba(237, 237, 237, 1);
    background-size: 100px 100px;
    -webkit-box-shadow: 4px 0px 20px -3px rgba(161, 161, 161, 0.64);
    -moz-box-shadow: 4px 0px 20px -3px rgba(161, 161, 161, 0.64);
    box-shadow: 4px 0px 20px -3px rgba(161, 161, 161, 0.64);
}

.padded {
    padding-left: 25px;
    font-size: 20px;
}

/**map related **/

.date, .play, .slider-container {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.date {
    border-left: 5px solid #ccc;
    padding: 3px 0 3px 10px;
    margin-left: 5px;
    color: #333;
}

.date p {
    margin: 0;
}

.date p:first-child {
    color: #999;
    font-size: 11px;
    line-height: 13px;
}

.date p.month {
    font-size: 15px;
    line-height: 30px;
}

.date p.month span {
    float: left;
    width: 5.55em;
}

.play {
    width: 53px;
    height: 53px;
    background-image: url(../img/play.png);
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.play:hover {
    background-position: 0 -53px;
}

.play.pause {
    background-image: url(../img/pause.png);
}

.slider-container {
    position: relative;
}

.slider-div {
    margin-left: 65px;
    margin-top: 10px;
}

.slider-probe {
    position: absolute;
    top: -20px;
    font-size: 12px;
    width: 70px;
    margin-left: -35px;
    z-index: 50;
    display: none;
}

.slider-probe p {
    margin: 0;
    width: 100%;
    text-align: center;
    height: 15px;
}

.slider-probe div {
    height: 15px;
    margin-left: 35px;
    border-left: 1px solid #999;
}

.axis path {
    fill: none;
}

.axis .tick line {
    stroke: #999;
}

.axis .tick text {
    font-size: 12px;
}

.map-container {
    margin: auto;
}

.land {
    fill: #f7f7f7;
    stroke: #ccc;
}

.state-boundary {
    fill: none;
    stroke: #bbb;
}

circle {
    fill: #ef8a62;
    stroke: #fff;
}

.map circle {
    opacity: .65;
}

.map circle:hover {
    stroke: black;
    stroke-width: 2;
}

.probe {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}


/*** charts **/

.chart-container path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.chart-container .axis path,
.chart-container .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}